# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
.env
.env.*
!.env.example
.pytest_cache/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log
